@tailwind base;
@tailwind components;
@tailwind utilities;

.select2-container .select2-selection--single {
    height: calc(2.25rem + 7px); /* Sesuaikan dengan tinggi input lainnya */
    padding: 0.5rem 0.75rem;  /* Sama dengan padding input */
    font-size: 1rem;           /* Sesuaikan ukuran font */
    line-height: 2;          /* Sesuaikan dengan input lainnya */
    border: 1px solid #374151; /* Border default */
    border-radius: 0.375rem;   /* Border radius */
    background-color: #111827;    /* Background */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;           /* Warna teks */
    padding-left: 0;          /* Padding dalam */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 10px); /* Sesuaikan tinggi panah dropdown */
}

/* Pagination Button Styling */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 1rem;
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #0056b3;
    border-radius: 1rem;
    color: white;
}

/* Search Box */
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 1rem;
    width: 200px;
    background-color: #1f2937;
}

/* Dropdown Length Styling */
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 1rem;
    background-color: #1f2937;
}

::-webkit-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}